@charset "UTF-8";

body {
    font: verdana;
    margin: 0px;
}

header {
    position: fixed !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:30px;
    background-image: linear-gradient(180deg,#70b4e8 0%,#4e9de3 50%,#2c86dd 100%);
    -moz-box-shadow: 0 0 0 rgba(128, 148, 189, 0.6);
    -webkit-box-shadow: 0 0 0 rgba(128, 148, 189, 0.6);
    -webkit-box-shadow: inset 0 0 0 #fff;
    padding-top: 10px;
    vertical-align: middle;
    text-align: center;
}

header a {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

footer {
    position: fixed !important;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #cdd3e4;
    -moz-box-shadow: inset 0 0 0 #fff;
    padding-top: 10px;
    padding-left: 10px;
}

section {
    background-color: #F1F4FC;
}

section article {
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}


section {
    position: fixed !important;
    position: absolute;
    top: 40px;
    bottom: 40px;
    width: 100%;
}

div .spacer {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.spacerPadding {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

div .responsible {
	display: inline-block;
}

canvas {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    background: #FFFFFF;
}

.canvasContainer {
	width: 100%;
	height: 520px;
}

@media screen and (max-width: 399px) {

header {
    padding-top: 0px;
}

}